body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.background-1 {
    background: #f3f3f3;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background:  #FAF3DD;
}

.h-80 {
    height: 80px;
}

.h-30 {
    height: 30px;
}

.h-175 {
    height: 175px;
}

.w-80 {
    width: 80px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.contact-info {
    line-height: 30px; 
    vertical-align: middle;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
}

.header-title-container {
    flex: 2;
    min-width: 300px;
}

.header-contact-container {
    flex: 1;
    margin-left: 20px;
    min-width: 300px;
    min-height: 175px;
}

.flex-item-size-3 {
    flex: 3;
}

.flex-item-size-4 {
    flex: 4;
}

.font-color-1{
    color: #383838;
}

