body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.background-1 {
    background: #e9e9e9;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background:  #FAF3DD;
}

.h-80 {
    height: 80px;
}

.h-30 {
    height: 30px;
}

.h-175 {
    height: 175px;
}

.w-80 {
    width: 80px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
}

.body-container {
    display: flex;
}

.footer-container {
    display: flex;
}

.header-title-container {
    flex: 2;
    display: flex;
    min-width: 300px;
    justify-content:left;
    align-items: center;
}

.title-text {
    font-family: 'Mooli', sans-serif;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

.title-text-name {
    font-weight:600;
}

.title-text-job {
    font-weight: lighter;
}

.header-contact-container {
    flex: 1;
    min-width: 300px;
    min-height: 175px;
}

.contact-info {
    line-height: 30px; 
    vertical-align: middle;
}

.body-profile-container {
    flex: 1;
}

.body-footer-container {
    flex: 1;
}

.font-color-1{
    color: #383838;
}


